<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
    <style>
        {% block style %}
        body{
            background-color: #226268;
            background-size: cover;
        }
        h1{
            font-size: 24px;
            color: #b2e1fe;
        }
        p{
            font-size: 18px;
        }
        .btn-link{
            color: #a7d6ff ;
            text-shadow: none;
        }
        .btn-link:hover{
            color: #000000;
        }

        {% endblock style %}
    </style>
</head>
<body>


 <div class="site-wrapper">
     <div class="site-wrapper-inner">
         <div class="cover-container">
             <div class="inner cover">
                 {% block content %}
                 {% endblock content%}
             </div>
         </div>
     </div>
 </div>
</body>
</html>